includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
    universalObjectCratesClasses:

    paths:
        - app

    excludePaths:
        - app/Events
    level: 8

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '/Access to protected property ActivityPhp.*/'
        - '/Access to protected property App\\Domain\\ActivityPub\\/'

    stubFiles:
        - resources/stubs/AbstractActivity.stub
        - resources/stubs/AbstractActor.stub
        - resources/stubs/AbstractObject.stub
        - resources/stubs/Activity.stub
        - resources/stubs/Collection.stub
        - resources/stubs/CollectionPage.stub
        - resources/stubs/Document.stub
        - resources/stubs/Image.stub
        - resources/stubs/Link.stub
        - resources/stubs/ObjectType.stub