includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    universalObjectCratesClasses:

    paths:
        - app

    excludePaths:
        - app/Events

    level: 8
    reportUnmatchedIgnoredErrors: true
    tmpDir: storage/phpstan-cache

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '/Access to protected property ActivityPhp.*/'
        - '/Access to protected property App\\Domain\\ActivityPub\\/'
        - '/Parameter #1 \$array of static method Illuminate\\Support\\Arr::get\(\) expects array\|ArrayAccess, array\|null given/'

    stubFiles:
        - resources/stubs/AbstractActivity.stub
        - resources/stubs/AbstractActor.stub
        - resources/stubs/AbstractActorCore.stub
        - resources/stubs/AbstractObject.stub
        - resources/stubs/Activity.stub
        - resources/stubs/Collection.stub
        - resources/stubs/CollectionPage.stub
        - resources/stubs/Document.stub
        - resources/stubs/Image.stub
        - resources/stubs/Link.stub
        - resources/stubs/ObjectType.stub
        - resources/stubs/OrderedCollection.stub
        - resources/stubs/OrderedCollectionPage.stub